{% extends '_base.html' %}

{% block content %}
<div class="message">{{status}}</div>
<form action="/movimentos/new" method="POST" name="movimento">
<label for="title">Título</label>   <input type="text" name="title" id="">
<label for="description">Descrição</label>   <textarea name="description" id="" cols="10" rows="5"></textarea>
    <label for="isDespesa">Despesa?</label><input type="checkbox" name="isDespesa" checked>
    <label for="scheme">Esquema</label><select name="scheme" id="scheme">
            <option value="1">Regular</option>
            <option value="0" selected>Lista</option>
        </select>
    <label for="schedule_type">Tipo Despesa</label>
    <select name="expense_type">
        <option value="fd">Alimentação</option>
        <option value="sh" selected>Compras</option>
        <option selected value="">Outros</option>
    </select>
    <label for="schedule_type">Tipo Crédito</label>
    <select name="income_type">
        <option value="s">Serviço/Salário</option>
        <option value="g" selected>Oferta</option>
        <option value="d" selected>Dívida</option>
        <option selected value="">Outros</option>
    </select>
    <label for="date">Data</label><input type="date" name="date">
    <label for="value">Valor</label><input type="number" name="value" step="0.01" min="0.00" >
    <label for="schedule">Padrão?</label><input type="checkbox" name="isSchedule" value="1">
    <label for="schedule_type">Tipo padrão</label>
    <select name="schedule_type">
        <option value="w">Semanal</option>
        <option value="m" selected>Mensal</option>
        <option value="a">Anual</option>
    </select>
    <label for="wasPaidByOther">Paga por outro?</label><input type="checkbox" name="wasPaidByOther" value="off">
    <!-- TODO: add js to this, to associate -->
    <input type="hidden" name="schedule_id" value="">
    <input type="submit">
</form>
<table summary="All the movements... and shit" class="movements-table">
    <thead>
        <th scope="col">Title</th>
        <th scope="col">Value</th>
        <th scope="col">Date</th>
    </thead>
    {% for movement in movimentos %}
    <tr class="{% if loop.first %} first{% endif %} {% if movement.isDespesa %} movements-table__row--despesa {% else %} movements-table__row--credito {% endif %} {% if movement.wasPaidByOther %} movements-table__row--paid-by-other {% endif %}" data-id={{movement.id}} >
        <td>
            {{movement.title}}
        </td>
        <td>
            {{movement.value}}
        </td>
        
        <td>
            {{movement.date|date('Y-m-d') }}
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}