<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Registo</h1>
    <form action="" method="POST">
    	<p><label for="username"></label><input type="text" id="username" name="username"></p>
    	<p><label for="password"></label><input type="password" id="password" name="password"></p>
      <p><label for="password_c"></label><input type="password" id="password_c" name="password_c"></p>
    	<p><input type="submit"></p>
    </form>
  </body>
</html>